@import url("https://fontlibrary.org/face/averia");
@import url("https://fontlibrary.org/face/nazi-typewriter");

* {
    margin: 0;
    padding: 0;
    font-family: 'NaziTypewriterRegular';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    color: black;
}

a {
    color: inherit;
}

.sitetitle, .sitetagline, .navbar, .pagetitle, .pagesubtitle, .copyright {
    margin: 0 auto;
    text-align: center;
    padding: 9px 0;
}

.navbar li {
    display: inline-block;
    padding: 0 3px;
}

.pagetitle, .pagesubtitle {
    text-align: left;
}



input {
    display: inline-block;
    border: none;
    border-bottom: 1px dotted black;
}

.pagecontent {
    display: grid;
    grid-auto-flow: dense;
    grid-template-rows: min-content min-content auto;
    grid-template-columns: repeat(9, 1fr);
    margin: 0;
    padding: 0;
}

.pagecontent .sheetmodule {
    border: 1px solid black;
    grid-column: span 9;
}

.pagecontent .sheetmodule ul li{
    padding: 4px;
}

.pagecontent .sheetmodule ul li {
    list-style: none;
}

.sheetmodule.editablelist {
    border: 2px solid blue;
}
.sheetmodule.editablelist .buttonbar li {
    display: inline-block;
}
.sheetmodule.editablelist .items {
    display: table;
    width: 100%;
}
.sheetmodule.editablelist .items li {
    display: table-row;
}
.sheetmodule.editablelist .items li * {
    display: table-cell;
    width: max-content;
}

.dots {
    display: inline-block;
    width: max-content;

}
.sheetmodule span.dots span.text, span.dots span.text {
    display: none;
}

span.dots button {
    border: none;
    background: white;
    border-radius: 25px;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    color: transparent;
}
 
span.dots[value*="0"] button:nth-child(-n+3) {
    background: black;
}

@media (min-width: 600px) {
    .pagecontent {
        grid-template-rows:
         [sheet-top] 
         auto
         [attribute-top]
         auto
         [common-top]
         5em
         [will-bottom]
         5em
         [exp-bottom]
         7em
         [limit-bottom]
         auto
         [essence-bottom]
         auto
         [specialty-bottom]
         auto
         [common-bottom]
         auto
         [merit-bottom]
         ;
        grid-template-columns:
        [sheet-far-left]
        repeat(3, 1fr)
        [sheet-near-left]
        repeat(3, 1fr)
        [sheet-near-right]
        repeat(3, 1fr)
        [sheet-far-right]
        ;
    }
    .pagecontent .sheetmodule {
        grid-column: span 3;
    }
    .sheetmodule.charmeta, .sheetmodule.attributes {
        grid-column: span 9;
    }
    .sheetmodule.charmeta ul, .sheetmodule.attributes ul{
        column-count: 3;
    }
    .sheetmodule.abilities {
        grid-row: common-top/common-bottom;
    }
    .sheetmodule.willpower {
        grid-row: common-top/will-bottom;
        grid-column: sheet-near-left/sheet-near-right;
    }
    .sheetmodule.limit {
        grid-row: will-bottom/limit-bottom;
        grid-column: sheet-near-left/sheet-near-right;
    }
    .sheetmodule.experience {
        grid-row: common-top/exp-bottom;
    }
    .sheetmodule.essence {
        grid-row: exp-bottom/essence-bottom;
    }
    .sheetmodule.specialties {
        grid-row: limit-bottom/specialty-bottom;
        grid-column: sheet-near-left/sheet-near-right;
    }
    .sheetmodule.merits {
        grid-row: specialty-bottom/merit-bottom;
        grid-column: sheet-near-left/sheet-far-right;
    }


}
